.CountrySlide{
    margin-top: 15px;
    margin-bottom: 15px;
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    min-height: 500px;
    padding: 5px;
}
.desh{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CountryName-title{
    color: #CDD7E2;
    text-transform: uppercase;
    font-size: 30px;
    width: 60%;
    text-align: center;
    height: 100px;
    padding-top: 40px;
}

.pic-border-box{
    width: 500px;
    height: 500px;
    background-image:  url("../../public/CountryBorder.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic-inside-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.companies-box{
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company-img{
    width: 100%;
    height: inherit;
}
.boxes-grid{
    display: grid;
    grid-template-columns: [first]150px [line2] 150px [end];
    gap: 5px;
}
.company-box{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    /* background-image: linear-gradient(rgb(0, 255, 255),rgba(0, 255, 255, 0.349),rgba(0, 255, 255, 0.103), rgba(255, 255, 0, 0)); */
    border: cyan 5px solid;
    display: flex;
    align-items: center;
}
.companies-box-name{
    background-color: transparent;
}
@media (max-width:640px) {
    .CountrySlide{
        flex-wrap: wrap;
    }
    .desh{
        width: 90%;
    }
}