
.Dashboard {
    /* background-color: #01171b; */
    width: 100%;
    min-height: 100vh;
}

.dashboard-outlier {
    /* flex-direction: row; */
    width: 74vw;
    min-height: 40rem;
    margin: auto;
}

.outlier-2 {
    width: 70%;
    height: 100%;
    margin-right: 2rem;
}

.countries-board {
    width: 60%;
    height: 100%;
    overflow-y: scroll;
    margin-left: 2rem;
    background-image: radial-gradient(#00333cb7 70%, #023e49);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    padding-top: .5rem;
    margin-top: 10px;
    font-size: 20px;
}

.countries-board::-webkit-scrollbar {
    display: none;
}

.countries-board * {
    background-color: transparent;
}

.countries-board .table-layout {
    width: 100%;
    text-align: center;
}

.countries-board .table-layout table {
    width: 100%;
}

table tbody>tr {
    border-bottom: 1px solid rgba(119, 245, 134, 0.503);
}

table tbody tr th {
    color: aquamarine;
}

table tbody tr td {
    color: cyan;
}

.user-status {
    width: 100%;
    height: 45%;
    margin-bottom: 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    gap: .3rem;

}

.outlier-3 {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.remaining-time {
    border-radius: 2rem;
    width: 30%;
    height: 24rem;
    margin-left: 2rem;
    background-image: radial-gradient(#00333cb7 70%, #023e49);
    display: flex;
    justify-content: center;
    align-items: center;
}

.remaining-time .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(60deg, rgb(255, 225, 0), rgb(0, 128, 255));
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.remaining-time .timer .timer-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    border-radius: 50%;
}

.remaining-time .timer .timer-display h4 {
    background: transparent;
    color: white;
    margin-right: .2rem;
}

.db-props {
    width: 90%;
    height: 100%;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.db-props p {
    font-weight: 500;
    background-image: linear-gradient(45deg, rgb(6, 239, 212), rgb(0, 140, 255));
    background-clip: text;
    color: transparent;
}

.country-points {
    background-image: radial-gradient(#00333cb7 70%, #023e49);
    height: 13rem;
}

.country-points .cps {
    background-image: linear-gradient(60deg, orange, blue);
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.country-points .cps div {
    /* background-color: #01171b; */
    width: 85%;
    height: 85%;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.country-points p {
    margin: 1rem 0;
    font-size: large;
    padding: .4rem;
    border-radius: .2rem;
}

.army-points {
    background-image: radial-gradient(#00333cb7 70%, #023e49);
    height: 13rem;
}

.army-points .aps {
    background-image: linear-gradient(60deg, rgb(16, 211, 71), rgba(0, 34, 255, 0.734));
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.army-points .aps>div {
    /* background-color: #01171b; */
    width: 85%;
    height: 85%;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.army-points>p {
    margin: 1rem 0;
    font-size: large;
    padding: .4rem;
    border-radius: .2rem;
}

.rank {
    background-image: radial-gradient(#00333cb7 70%, #023e49);
    height: 13rem;
}

.rank-props {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
    padding: .2rem .4rem;
    border-radius: 1.2rem;
    background: transparent;
}

.rank-props>h4 {
    font-size: xx-large;
    background-image: linear-gradient(45deg, rgb(255, 123, 0), rgb(255, 252, 252));
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    text-align: center;
}

.rank-props>p {
    /* margin: 1rem 0; */
    font-size: 1.6rem;
    font-weight: 600;
    /* padding: .4rem; */
    /* border-radius: .2rem; */
}

.member-details {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    padding: .5rem;
    width: 70%;
    height: 24rem;
    gap: .5rem;
    background-image: radial-gradient(#00333cb7 70%, #023e49);
    border-radius: 2rem;
}

.member-details .member {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1.5rem;
}

.member-details .member .avatar {
    margin: .5rem;
    background-color: transparent;
}

.member-details .member .basic-info {
    color: white;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin: 0 .5rem;
    width: 80%;
    height: 70%;
}

.member-details .member .basic-info p {
    display: inline;
    width: 100%;
    margin: 0.15rem 0;
    background: transparent;
}

.member-details .member .basic-info .name {
    color: cyan;
}

.designation {
    font-size: small;
    color: cyan;
}

/*  Media Queries */

@media screen and (max-width :1350px) {
    .dashboard-outlier {
        height: auto;
        flex-direction: column;
        margin-top: 2rem;
    }

    .outlier-2 {
        width: 100%;
        margin-right: 0rem;
    }

    .countries-board {
        width: 100%;
        height: auto;
        margin-top: 2rem;
        margin-left: 0rem;
        margin-bottom: 2rem;
    }

    .member-details {
        height: 12rem;
    }

    .remaining-time {
        height: 12rem;
    }

    .user-status {
        height: auto;
    }
}

@media screen and (max-width :540px) {
    .user-status {
        flex-direction: column;
    }

    .countries-board {
        width: 90%;
        height: auto;
    }

    .member-details {
        width: 90%;
        height: 12rem;
    }

    .remaining-time {
        margin-top: 2rem;
        margin-left: 0rem;
        width: 90%;
        height: 12rem;
    }

    .outlier-3 {
        flex-direction: column;
    }
}