.Signup {
    background-color: #01171b;
    width: 90vw;
    height: 230vh;
}

.member-signup * {
    color: aquamarine;
    background-color: transparent;
}

.member-signup {
    /* background-color: #02434fb1; */
    margin-bottom: .5rem;
    /* padding: 1rem; */
}

.team-signup * {
    color: aquamarine;
    background-color: transparent;
}

.team-signup {
    /* background-color: #02434fb1; */
    /* padding: 1rem; */
    margin-bottom: .5rem;
}

.Signup .signup-form * {
    background-color: transparent;
    color: rgb(91, 253, 202);
}

.Signup .signup-form input {
    background-color: rgba(0, 0, 0, 0.543);
}